.btn-yours {
  color: white;
  border: 1px solid $blue;
  background-color: $blue;
  padding: 20px 25px;
  border-radius: 5px;
  font-weight: normal;
  opacity: 0.8;
}

.btn-yours:hover {
  opacity: 1;
  text-decoration: none;
  color: $blue;
}
