---
title: Le Wagon - Middleman
---
<%= partial "layouts/banner" %>

<div class="container" id="home-flats">
  <h2 class="text-center">Recent flats</h2>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Paris, France</div>
        <div class="card-description">
          <h3>Sebastien's home</h3>
          <p>Charming room in Montmartre</p>
          <p class="rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/dylanmertens" class="card-user" alt="dylanmertens" />
        <a href="flats/dylan.html" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Berlin, Germany</div>
        <div class="card-description">
          <h3>Willy's Home</h3>
          <p>Willy's cozy flat in Mitte</p>
          <p class="rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
            <i class="fa fa-star" style="color: #cacccd"></i>
          </p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/dylanmertens" class="card-user" alt="dylanmertens" />
        <a href="flats/dylan.html" class="card-link"></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%), url('https://kitt.lewagon.com/placeholder/cities/paris');">
        <div class="card-category">Düsseldorf, Germany</div>
        <div class="card-description">
          <h3>Klaus' home</h3>
          <p>Charming flat at the Rhine</p>
          <p class="rating">
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
            <i class="fa fa-star" style="color: #ffb400"></i>
          </p>
        </div>
        <img src="https://kitt.lewagon.com/placeholder/users/dylanmertens" class="card-user" alt="dylanmertens" />
        <a href="flats/dylan.html" class="card-link"></a>
      </div>
    </div>
  </div>
</div>
